* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

.navbar.bg-isotope {
    background: rgb(241, 111, 92)
}

.navbar-nav .nav-item a {
    font-size: 18px;
    color: azure;
    font: bold;
}

.navbar-nav .nav-item a:hover {
    color: rgba(194, 11, 11, 0.714);
    transition: all .2s ease;
}

/*
FIXME:
.navbar .navbar-nav {
    width: 80%;
}

.navbar .navbar-brand {
    width: 20%;
}
*/

.navbar {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar .navbar-brand {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar .navbar-brand img {
    background: rgba(194, 11, 11, 0.714);
    width: 110px;
    max-width: 150px;
    height: 110px;
}

.row.separator {
    height: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background: #3632ff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3632ff 1%, #cc08cc 49%, #ea2528 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3632ff 1%, #cc08cc 49%, #ea2528 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3632ff 1%, #cc08cc 49%, #ea2528 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3632ff', endColorstr='#ea2528', GradientType=1);
    /* IE6-9 */
}